@import "login.css";
@import "header.css";
@import "register.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d1d27;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.hero {
    background-image: linear-gradient(to bottom, #fe365ee7, #fe365e4a),
        url("/public/images/hero-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 1200px;
    border-radius: 25px;
    color: white;
    padding: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
}

.hero h1 {
    font-size: 60px;
    font-weight: 100;
}

.hero p {
    font-size: 20px;
}

.hero button {
    background-color: rgb(254, 174, 36);
    color: #000;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    padding: 10px 5px;
    width: 20%;
    font-weight: bold;
}

.leaderboard {
    background-color: rgb(120, 120, 120);
    height: 500px;
    width: 1200px;
    margin-bottom: 50px;
}

.leaderboard-property {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: rgb(255, 255, 255);
    font-size: 28px;
    text-align: center;
}

.leaderboard h1 {
    color: white;
    font-size: 40px;
}

.leaderboard-container {
    display: flex;
    justify-content: center;
}

.section-heading {
    color: white;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.rank,
.time,
.driver,
.team,
.tires {
    border: 2px solid red;
    font-weight: bold;
}

.leaderboard-value {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.rank-value,
.time-value,
.driver-value,
.team-value,
.tires-value {
    background-color: white;
    font-size: 25px;
    text-align: center;
    border: 1px solid black;
}

footer {
    background-color: #000;
    height: 250px;
}
