/* Dit is een Import waarbij per pagina de styling is gedaan in een aparte file  */
@import "login.css";
@import "header.css";
@import "register.css";
@import "password-reset.css";
@import "leaderboard.css";
@import "footer.css";
@import "contact.css";
@import "dashboard.css";
@import "succes.css";
@import "uploadRace.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffd000;
}
/* Dit zijn de stylings van de homepage wanneer je de website opent */

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.hero {
    background-image: linear-gradient(to bottom, #e10700c1, #e107009e),
        url("/public/images/hero-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 1200px;
    border-radius: 25px;
    color: white;
    padding: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
}

.hero h1 {
    font-size: 60px;
    font-weight: 100;
}

.hero p {
    font-size: 20px;
}

.hero button {
    background-color: rgb(254, 174, 36);
    color: #000;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    padding: 10px 5px;
    width: 20%;
    font-weight: bold;
}
