header {
    background-color: #1d1d27;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid white;
    margin-bottom: 100px;
}
.logo-img {
    height: 50px;
}
header ul {
    list-style: none;
}
header a {
    color: white;
    text-decoration: none;
}

header a {
    padding: 0px 10px;
}
.menu-list ul {
    display: flex;
}
