.header{
    background-color: #1D1D27;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    list-style: none;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.nav-items{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    width: 100%;
    list-style: none;
}
.nav-logo{
    padding-left: 10px;
}
.nav-link{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
}