.forget-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forget-password {
    height: 350px;
    width: 600px;
    background-color: #fe365e;
    border-radius: 30px;
}

.forget-password h3 {
    text-align: center;
    color: white;
    font-size: 35px;
    text-transform: uppercase;
    padding: 30px;
}

.form {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

form input {
    padding: 20px 30px;
    width: 50%;
    border-radius: 10px;
    border: none;
    color: black;
    font-weight: bold;
}
.btn-primary {
    padding: 20px 30px;
    width: 50%;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 208, 0);
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
